<a href="https://colab.research.google.com/github/SiddharthBloke/RL-Repository/blob/main/Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd


df = pd.read_csv('student-mat.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [20]:
len(df)

395

In [21]:
df.shape

(395, 33)

In [22]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [23]:
df.shape

(395, 34)

In [24]:
df['high_absenses'] = np.where(df['absences'] >= 10,1,0)

In [25]:
df['count'] = 1

In [26]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absenses,count
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,1,3,6,5,6,6,0,0,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,1,3,4,5,5,6,0,0,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,3,3,10,7,8,10,0,1,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,1,1,5,2,15,14,15,0,0,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,1,2,5,4,6,10,10,0,0,1

In [27]:
df = df[['grade_A', 'high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [29]:
pd.pivot_table(
    df,
    values = 'count',
    index = ['grade_A'],
    columns = ['high_absenses'],
    aggfunc = np.size,
    fill_value = 0
)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [31]:
P_A = (35+5)/(35+5+277+78)
P_B = (78+5)/(35+5+277+78)
P_C = 5/(35+5+277+78)

print(P_A)
print(P_B)
print(P_C)

0.10126582278481013
0.21012658227848102
0.012658227848101266

In [32]:
D = P_C/P_B
print(D)

0.060240963855421686